<header class="gh-head">
  <nav class="gh-navbar inner">

    <div class="gh-navbar-left">
      <a class="gh-nav-logo gh-navbar-item" href="{{@blog.url}}">
        {{#if @blog.logo}}
          <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
        {{else}}
          {{@blog.title}}
        {{/if}}
        
      </a>
    </div>

    <div class="gh-navbar-right">
      {{#if @blog.navigation}}
        {{navigation}}
      {{/if}}
      {{#if @labs.subscribers}}
        <a class="subscribe-button" href="/subscribe">Jetzt abonnieren</a>
      {{/if}}
    </div>

  </nav>
</header>

<header class="gh-mobilehead">
  <nav class="gh-mobilenavbar">
    <a class="gh-nav-burger" href="#">
      <div class="hamburger hamburger--collapse"
           aria-label="Menu" role="button" aria-controls="navigation">
        <div class="hamburger-box"><div class="hamburger-inner"></div></div>
      </div>
    </a>
    <a class="gh-nav-logo" href="/">
      {{#if @blog.logo}}
        <img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{else}}
        {{@blog.title}}
      {{/if}}
    </a>
  </nav>
    <div class="gh-mobilemenu">
      {{#if @blog.navigation}}
        {{navigation}}
      {{/if}}
    </div>
</header>
